
li button.splide__pagination__page {
    /* background-color: #6D6767; */
    opacity: 1 !important;
} 

li button.splide__pagination__page.is-active {
    opacity: 1 !important;
    background-color: #3D217A;
}

div.mySwiper {
    position: relative;
}

.testimonial div.splide__arrows.splide__arrows--ltr {
    /* position: absolute; */
    /* border: 2px solid purple; */
    /* height: 30px; */
    /* gap: 40px; */
}

.testimonial div.splide__arrows.splide__arrows--ltr > button:first-child {
    right: 0;
    top: 0;
    transform: translateY(0);
    margin-left : 80vw;
}
.testimonial div.splide__arrows.splide__arrows--ltr > button:last-child {
    top: 0;
    right: 0;
    transform: translateY(0);
}

@media only screen and(max-width:700px) {
    .testimonial div.splide__arrows.splide__arrows--ltr > button:first-child {
        margin-left : 50vw;
    }
}