@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.bgModal {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.bgModali {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(4px);
}
.inset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-inset {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-x {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.inseti {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.colorize-img2 {
  filter: hue-rotate(200deg);
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}
.hover-img:hover .rectangle-hover {
  display: flex;
}
.scroll-container {
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}
.bgimg{
  background-image: url(../src/assests/images/Makeup\ artist.jpeg);
  position: relative;
}
.bgimg::after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent; 
}

.newhero {
  animation-name: change;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg , #ec6a87 , #6F0E78);
  background-size: 300%;
}

@keyframes change {
  0% {
    background-position: top;
  }
  20% {
    background-position: right;
  }
  40% {
    background-position: bottom;
  }
  50% {
    background-position: left;
  }
  80% {
    background-position: right;
  }
  100% {
    background-position: top;
  }
}